@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*
    Cor derrota: #F87666
    Cor empate/padrão: #F1E9DA
    Cor vitória: #04F06A
*/
html {
    width: 100vw;
    height: 100vh;
    background-color: #F1E9DA;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    user-select: none;
}

img {
    margin: 10px;
    width: 130px;
    transition: width .3s, height .3s;
    transition-timing-function: ease-out;
}

p {
    font-size: 0.8em;
    text-shadow: 1px 1px 4px white;
    line-height: 2em;
}

.botao {
    border-radius: 8px;
    border: none;
    background-color: #635C51;
    box-shadow: 0px 0px 4px;
}

.botao {
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: #635C51;
    box-shadow: 0px 0px 4px;
    cursor: pointer;
}

.botao-final{
    margin: 10px;
    border-radius: 8px;
    border: none;
    background-color: #635C51;
    box-shadow: 0px 0px 4px black;
    padding: 10px;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

.botao:hover {
    background-color: #423d35;
    box-shadow: 0px 0px 2px black;
}

.botao-final:hover {
    background-color: #423d35;
    box-shadow: 0px 0px 2px black;
}

.botao img {
    width: 40px;
    padding: 5px;
}